*{
    margin: 0;
    padding: 0;
    top:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
  width: 200px;
  height: 180px;
  background-image: url(../assets/logo7.png);
  background-size: 100% 100%;
  margin-top: 0%;
}
.header {
  width: 100%;
  height: 100px;
  background-color: rgb(40, 40, 84);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.names {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: white;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}
.icons i {
  margin-right: 10px;
}
.sign {
  width: 150px;
  height: 50px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.hide {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: absolute;
  left: 70%;
  top: 40%;
}
.anchor{
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.loginanchor{
  text-decoration: none;
  color: white;
}
.h1:hover{
  cursor: pointer;
  color:red;
}
.h2:hover{
  cursor: pointer;
  color:red;
}
.anchor:hover{
  cursor: pointer;
  text-decoration: none;
  color:red;
}
.h4:hover{
  cursor: pointer;
  color:red;
}
.h5:hover{
  cursor: pointer;
  color:red;
}
.hide:hover{
  cursor:pointer;
}

.sider{
    width:100%;
    height:100svh;
    overflow: hidden;
    position: relative;
}
.image1{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}
.image2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}
.image3{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}
.image1{
    background-image: url("../assets/back1.jpg");
}
.image2{
    background-image: url("../assets/back6.jpg");
}
.image3{
    background-image: url("../assets/back2.jpg");
}
.m1, .m2, .m3{
    width:100%;
    height:50%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}
.m1 h3, .m2 h3, .m3 h3{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 160px;
    font-family:font1;
}
.m1 p, .m2 p, .m3 p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.btn{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color:aqua;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
    background-color:red;
}

.search{
    width: 100%;
    height:20%;
    position: absolute;
    top: 100.5%;
    left: 0;
    background-color: black;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:40px;
    color: white;
    margin-bottom: 10%;
}
.search p{
    font-size: 32px;
    font-weight: 600;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search input{
    width: 260px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border:1px solid white;
    border-radius: 10px;
    padding-left:20px ;
}
.search:hover > input{
    background-color: white;
    color: black;
}
.btn1{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color:red;
    border: none;
    border-radius: 10px;
}
.btn1:hover{
    cursor: pointer;
    background-color:green;
}
@media screen and (max-width:768px) {
    .m3 h3, .m1 h3, .m2 h3{
        font-size: 100px;
    }
    .search{
        height: fit-content;
        flex-direction: column;
    }
    .div3{
        height: fit-content;
        margin-top:80%;
    }
    .header {
      flex-wrap: wrap;
      justify-content: center;
  }
  .logo {
      position: absolute;
      left: 10%;
      top: -40px;
      width: 150px;
      height: 150px;
  }
  .names {
      display: none;
      height: 250px;
      width: 200px;
      text-align: center;
      font-size: 16px;
      flex-direction: column;
      background-color: rgb(40, 40, 84);
      position: absolute;
      top: 100px;
      right: 0px;
      line-height: 30px;
  }
  .names.active {
      display: flex;
  }
  .icons {
      display: none;
      position: absolute;
      right: 20px;
      bottom: 10px;
      width: 100%;
      justify-content: center;
  }
  .icons.active {
      display: flex;
  }
  .sign {
      display: none;
      justify-content: center;
  }
  .sign.active {
      display: flex;
  }
  .hide {
      display: block;
      position: absolute;
      left: 70%;
      top: 40%;
      font-size: 20px;
      color: white;
  }
  
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.div3{
  width: 100%;
  /* height: 120svh; */
  /* position: relative; */
  /* position: fixed; */
}
.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute;
  top: 50px; */
  margin-top: 15%;
}
.content1{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#heading1{
  /* width: 649px; */
  font-size: 40px;
  
}
#para1{
  /* width: 855.89px; */
  width: 55%;
  color: rgb(122,131,150);
  text-align: center;
}
.imagediv{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.images{
  width:80%;
  height: 75%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  /* position: absolute;
  bottom: 0px; */
}
.img{
  width: 350px;
  height: 261px;
  border-radius: 10px;
  display: flex;
  align-items: end;
  position: relative;
}
.img1{
  background-image: url(../assets/indiadestination.jpg);
  background-size: 100% 100%;
}
.img2{
  background-image: url(../assets/America.jpg);
  background-size: 100% 100%;
}
.img3{
  background-image: url(../assets/brazildestination.png);
  background-size: 100% 100%;
}
.img4{
  background-image: url(../assets/italydestination.jpg);
  background-size: 100% 100%;
}
.img5{
  background-image: url(../assets/nepaldestination.jpg);
  background-size: 100% 100%;
}
.img6{
  background-image: url(../assets/maldivesdestination.jpg);
  background-size: 100% 100%;
}
.bottom{
  width: 70%;
  height: 20%;
  /* background-color: black; */
  display: flex;
  /* justify-content: space-around; */
  margin-bottom:0%;
  margin-left:10%;
  /* padding-left: 0px 10px; */
  
}
.country{
  height: fit-content;
  width: fit-content;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
}
.button1{
  background-color: rgb(30,198,182);
  width: 100px;
  height: 35px;
  border: 1px solid rgb(30,198,182);
  border-radius: 20px;
  color: white;
  
}
.img:hover{
  top: -10px;
}
.img:hover .country{
  color: rgb(255,74,82);
}
.img:hover .button1{
  background-color: rgb(255,74,82);
  border: 1px solid rgb(255,74,82);
}
.div4{
  width: 100%;
  background-color: whitesmoke;
  /* height: 120svh; */
  /* position: relative; */
  /* position: fixed; */
}
.secondcontent{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute;
  top: 10%; */
  margin-top: 10%;
}
.content2{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#heading2{
  font-size: 40px;
}
.images2{
  width:80%;
  height: 75%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 5%;
  background-color: whitesmoke;
  margin-bottom: 5%;
  /* position: absolute;
  bottom: 0%;  */
}
.placeimage{
  width: 330px;
  height: 322.26px;
  background-color: white;
  /* background-color: aqua; */
}
.placeimage:hover{
  transform: scale(1.02);
}
.placeimg{
  width: 330px;
  height: 185.96px;
  /* background-color: brown; */
  border-radius: 10px;

}
.placeimg1{
  background-image: url(../assets/tajmahal.png);
  background-size: 100% 100%;
}
.placeimg2{
  background-image: url(../assets/niagara.jpg);
  background-size: 100% 100%;
}
.placeimg3{
  background-image: url(../assets/amazonforest.jpg);
  background-size: 100% 100%;
}
.placeimg4{
  background-image: url(../assets/vatican.jpg);
  background-size: 100% 100%;
}
.placeimg5{
  background-image: url(../assets/nepal-d.jpg);
  background-size: 100% 100%;
}
.placeimg6{
  background-image: url(../assets/Maldives1.jpg);
  background-size: 100% 100%;
}
.dollarbutton{
  height: 35.5px;
  width: 80px;
  background-color: rgb(30,198,182);
  border: 2px solid rgb(30,198,182);
  border-radius: 20px;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  font-size: 20px;
}

.srate{
  width: 330px;
  height: 136.4px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 5%;
}

.townname{
  width: 80%;
  height: fit-content;
  font-size: 28px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.countryname{
  width: 80%;
  height: fit-content;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(122,131,150);
}
.review{
  margin-left: -10%;
  display: flex;
  justify-content: space-around;
  /* background-color: blue; */
}
.imagediv2{
  width: 100%;
  display: flex;
  justify-content: center;  
}
.parent{
  width: 100%;
}
.div5{
  width: 100%;
  display: flex;
  justify-content: center;
}
.completedivision{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10%;
}
.journey{
  width: 320px;
  height: 223.61px;
  /* background-color: black; */
}
.hotel{
  width: 320px;
  height: 223.61px;
  /* background-color: black; */
}
.travel{
  width: 320px;
  height: 223.61px;
  /* background-color: black; */
}

.icon{
  margin-bottom: 10%;
}
#heading3{
  font-size: 25px;
}
.paragraph{
  color: rgb(122,131,150);
}
#iconcolor{
  color: rgb(253,174,92);
}
.placeimage:hover .dollarbutton{
  background-color: rgb(255,74,82);
  border: 1px solid rgb(255,74,82);
}
.placeimage:hover .townname{
  color: rgb(255,74,82);
}
  .footer{
    width: 100%;
    background-color: #040E27;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5%;
   
    
  }
  .ch1{
    width: 380px;
    /* height: 302px; */
    display: flex;
    flex-direction:column;
    align-items: center;
    /* margin-top: 5%; */
  }
  .logo1{
    margin-top:10%;
    width: 200px;
    height: 100px;
    background-image: url(../assets/logo7.png);
    background-size: 100% 100%;
    background-color: #040E27;
  }
  .ch2{
    width: 280px;
    /* height: 302px; */
    margin-top: 5%;
  }
  .ch3{
    width: 320px;
    /* height: 302px; */
    margin-top: 5%;
  }
  #a{
    font-size: 25px;
    color: white;
  }
  #b{
    width: 80%;
    font-size: 20px;
    line-height: 30px;
    color: rgb(135, 132, 132);
  }
  #c{
    width: 100%;
    font-size: 20px;
    color: rgb(135, 132, 132); 
    margin-left: 15%;
  }
  .ch4{
    width: 320px;
    /* height: 302px; */
    margin-top: 5%;
  }
  .photos{
    width: 100%;
    /* height: 150px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
    
  }
  .images1h{
    width: 100px;
    height: 100px;
    background-image: url(../assets/country1.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
  }
  .images2h{
    width: 100px;
    height: 100px;
    background-image: url(../assets/Country5.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
  }
  .images3h{
    width: 100px;
    height: 100px;
    background-image: url(../assets/America.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
  }
  .images4h{
    width: 100px;
    height: 100px;
    background-image: url(../assets/brazil.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
  }
  .images5h{
    width: 100px;
    height: 100px;
    background-image: url(../assets/Italy.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
  }
  .images6h{
    width: 100px;
    height: 100px;
    background-image: url(../assets/Maldives1.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
  }
.footer:hover > div {
  cursor: pointer;
}
@font-face {
  font-family:font1;
  src: url("../assets/NothingYouCouldDo.ttf");
}